# Ignore figures
/diss_pascal/tikz_figures/*
!/diss_pascal/tikz_figures/geo/
/diss_pascal/tikz_figures/geo/*.log
/diss_pascal/tikz_figures/geo/*.md5
/diss_pascal/tikz_figures/geo/*.spl
/diss_pascal/tikz_figures/geo/*.dpth

# Ignore xml files
/diss_pascal/results/xml_files/*

# Ignore pdf and tex
/diss_pascal/*.tex
/diss_pascal/*.pdf

# Ignore pycache
/diss_pascal/lib/__pycache__/*
/diss_pascal/__pycache__/*
